<html>
  <head>
    <title>Node Template</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link href="/css/application.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type='text/css' href="css/normalize.css">
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
  </head>
  <body>

  <%- body %>

  <script src="js/interface.js" type="text/javascript"></script>
  </body>
</html>